
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# This integration handles redirects from the My Home Assistant service.
my:

# Konfiguration von Mitteilungen
notify:
  - name: !secret notify_name
    platform: smtp
    server: !secret notify_server
    port: 587
    timeout: 15
    sender: !secret notify_mailaddress
    encryption: starttls
    username: !secret notify_mailaddress
    password: !secret notify_password
    recipient:
      - !secret notify_mailaddress
    sender_name: !secret notify_name

# The wake_on_lan integration enables the ability to send magic packets to Wake on LAN capable devices to turn them on.
wake_on_lan:

shell_command:
  shutdown_lupus: !secret qnap_lupus_poweroff
  shutdown_thor: !secret qnap_thor_poweroff
  shutdown_legolas: !secret qnap_legolas_poweroff
  trigger_plexon: !secret ha_zardoz_plexon
  trigger_plexoff: !secret ha_zardoz_plexoff
  setup_apk: !secret shell_setup_apk

# Logger Config for Log Viewer Add-On
#logger:
#  default: info
#  logs:
#    pyatv: debug
#    homeassistant.components.apple_tv: debug

########### INCLUDES #####
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
#binary_sensor: !include binary_sensors.yaml
#light: !include lights.yaml
#light: !include_dir_merge_list light/
#cover: !include covers.yaml
#cover: !include_dir_merge_list cover/
command_line: !include command_line.yaml
sql: !include sql.yaml

#command_line:
#  - sensor:
#      name: proc_state
#      command: "ls /config/switches/state/proc* | awk -F '/' '{print $5}'"
#      scan_interval: 60
#      unique_id: command_line.sensor_proc_state

########### INCLUDES ##### Additional Dir List
sensor: !include_dir_list sensors/
switch: !include_dir_list switches/
rest_command: !include_dir_merge_named rest_commands/
template: !include_dir_merge_list template/

media_player:
  - platform: nad
    type: Telnet
    port: 23
    host: !secret ip_nad
    name: NAD Receiver
    min_volume: -60
    max_volume: -20
    volume_step: 3
    sources:
##      1: 'Mac'
      2: 'Apple TV'
##      3: 'Swisscom TV'
##      4: 'Epson HDMI'
      5: 'BluOS'
##  - platform: bluesound
##    hosts:
##      - host: !secret ip_nad
##        name: NAD Bluesound
##        port: !secret port_nad

